#root {
  height: 100vh;
  .App {
    color: #eeeeee;
    background-color: #333333;
    text-align: center;
    z-index: 10;
    h1 {
      padding-bottom: 5px;
      cursor: default;
    }
  }
  .map-container {
    height: 100vh;
    overflow: hidden;
    pointer-events: none;

    .toggleDeaths {
      position: absolute;
      left: 50px;
      bottom: 10px;
      width: 170px;
      z-index: 3;
      background-color: #f9ffff;
      border: 2px solid black;
      border-radius: 5px;

      &:active {
        box-shadow: 0 4px #666;
        transform: translateY(3px);
      }
    }

    & div > div > svg {
      & > g {
        & > g {
          & .gBeforePath {
            transform: translate(330px, 40px) scale(1.2);
            @media (max-width: 1650px) {
              transform: translate(330px, 50px) scale(1.1);
            }
            @media (max-width: 1550px) {
              transform: translate(300px, 50px) scale(1);
            }
            @media (max-width: 1400px) {
              transform: translate(300px, 80px) scale(0.8);
            }
            @media (max-width: 1250px) {
              transform: translate(300px, 100px) scale(0.7);
            }
            @media (max-width: 1150px) {
              transform: translate(260px, 170px) scale(0.6);
            }
            @media (max-width: 1000px) {
              transform: translate(240px, 170px) scale(0.5);
            }
            @media (max-width: 850px) {
              transform: translate(240px, 170px) scale(0.4);
            }
            @media (max-width: 750px) {
              transform: translate(200px, 30%) scale(0.3);
            }
          }
        }
      }
    }
    div[role] {
      transform: scale(1.7);

      margin-right: 50px;
      margin-bottom: 20px;
    }
  }
}
.land {
  position: absolute;
  z-index: 1;
  fill: gray;
}

.land:hover,
.land:active {
  stroke: black;
  stroke-width: 1;
}
