#root {
  height: 100vh;
  .App {
    color: #eeeeee;
    background-color: #333333;
    text-align: center;
    h1 {
      padding-bottom: 5px;
    }
  }
  .map-container {
    // z-index: -1;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    // .btnFit {
    //   position: absolute;
    //   left: 100px;
    //   top: 100px;
    //   z-index: 999;
    // }

    & div {
    }
    & div > div {
    }
    & div > div > svg {
      & > g {
        & > g {
          & .gBeforePath {
            transform: translate(330px, 40px) scale(1.2);
          }
        }
      }
    }
    div[role] {
      margin-right: 30px;
    }
  }
}
.land {
  position: absolute;
  z-index: 1;
  fill: gray;
}

.land:hover,
.land:active {
  stroke: black;
  stroke-width: 1;
}
